.pagination {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin-bottom: 40px;
}

.page-number {
  list-style: none;
  margin-right: 10px;
  border: 1px solid red;
  padding: 10px;
  border-radius: 4px;
}

.page-number > a {
  text-decoration: none;
}
